.user-manager-container {
    /*background: linear-gradient(135deg, #0f0c29, #302b63, #24243e); !* Fondo degradado *!*/
    background: linear-gradient(135deg, #0f0c29, #302b63, #1cb5e0); /* Fondo turquesa integrado */
    color: #e0e0e0;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.user-manager-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-manager-header h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
}

.story-circle {
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, #ff6e40, #ff8f71);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #ffffff;
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(255, 110, 64, 0.6);
    transition: all 0.3s ease;
}

.story-circle:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(255, 110, 64, 0.8);
}

.header-icons .icon {
    margin-left: 15px;
    font-size: 20px;
    color: #bbbbbb;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-icons .icon img {
   width:50px;
}

.header-icons .icon:hover {
    transform: scale(1.2);
    color: #f39c12;
}

.user-manager-filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.user-manager-filters button {
    background: linear-gradient(90deg, #6c63ff, #58a6ff);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.user-manager-filters button:hover {
    background: linear-gradient(90deg, #58a6ff, #6c63ff);
    box-shadow: 0 4px 15px rgba(92, 132, 255, 0.5);
}

.user-manager-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.user-card {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.user-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(92, 132, 255, 0.6);
}

.user-status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.user-status.online {
    background-color: #00ff6a;
}

.user-status.offline {
    background-color: #ff4c4c;
}

.user-card h3 {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.user-card p {
    font-size: 14px;
    color: #c0c0c0;
}

.user-likes {
    font-size: 14px;
    color: #f39c12;
}
